.App {
  text-align: center;
}
img{
  width: 200px;
  border: 5px solid black;
  height: 200px;
  margin-top: 10px;
  align-items: end;
  display: inline-block;
}
form{
  width: 50%;
  background-color: chocolate;
  align-self:center;
  display: inline-block;
  margin: 10px;
  padding: 50px;
}
label{
  width: 200px;
  display: inline-block;
  font-weight: bold;
  font-style:italic;
  font-size: 1.5rem;
  text-align: start;
}
input{
  display: inline;
  width: 300px;
  background-color: aquamarine;
}
.cs1{
  background-color: olivedrab;
  border: 5px solid gray;
}
.nl1{
  display: inline-block;
 text-decoration: none;
 margin: 25px;
 border: 1px solid forestgreen;
 font-size: 1.25rem;
 background-color: rgb(232, 230, 228);
 width: 120px;
 border-radius: 25px;
 font-weight: bolder;
 
}
.nl1:hover{
  background-color: green;
color: wheat;
box-shadow: 5px 5px 20px 5px black;
}